In [6]:
# Experiment 4 :
# Naman Bothra
# PRN : 25070123078


# creation of set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [7]:
#sets do not allow duplicates
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [8]:
# in the below condition either 1 or true will be printed not both of them because in sets true is considerd equal to one and set does not allow duplicates
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{'banana', True, 2, 'apple', 'cherry'}

In [9]:
# To check membership
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
print("grapes" in thisset)

True
False

In [11]:
# Once a set is created, you cannot replace it's item,
# but you can add extra items

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
thisset.add(2)

print(thisset)

{2, 'orange', 'cherry', 'banana', 'apple'}

In [12]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [16]:
# set opertaions
a = {1,2,3,4,5}
b = {3,4,5,6,7}

print("Union:", a|b)
print("Intersection:", a&b)
print("Difference1:", a-b)
print("Difference2:", b-a)
print("Symmetric Difference:", a^b)

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {3, 4, 5}
Difference1: {1, 2}
Difference2: {6, 7}
Symmetric Difference: {1, 2, 6, 7}

In [18]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [19]:
name = ["a","b","c","d","b","c"]
name = set(name)
print(name)

{'c', 'b', 'd', 'a'}

In [21]:
a = {"maths", "biology", "physics"}
b = {"biology", "hindi", "literature"}
c = {"biology", "maths", "chemistry"}

print("common subjects=", a & b & c)

common subjects= {'biology'}

In [26]:
cricket = {"virat", "rohit", "dhoni", "rahul"}
football = {"virat", "rohit", "neymar", "messi"}
print("Cricket=",cricket - football)
print("Football=",football - cricket)
print("Cricket & Football=",cricket ^ football)
print(cricket & football)

Cricket= {'dhoni', 'rahul'}
Football= {'neymar', 'messi'}
Cricket & Football= {'rahul', 'messi', 'neymar', 'dhoni'}
{'virat', 'rohit'}

In [27]:
all_students = {"a","b","c","d","e","f"}
present = {"a","b","c"}
print("absent=",all_students - present)

absent= {'e', 'd', 'f'}

In [28]:
subjects = {"maths", "english", "physics", "chemistry", "biology"}
subjects.remove("physics")
print(subjects)

{'biology', 'maths', 'english', 'chemistry'}